.icon-links{
    color: #6C757D;
    transition: 0.16s ease-in-out;
}

.icon-links:hover{
    color: #343A40;
    transition: 0.16s ease-in-out;
}

.navbar-brand{
    font-weight: 600;
    font-family: var(--main-font);
    font-size: 1.8rem;
}
